.car-card {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    background-color: white;
    box-shadow: 0px 15px 20px -12px #00000040;
    border-radius: 12px;
}

.car-image {
    height: 224px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.car-info {
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
}

.car-name {
    font-size: 20px;
    font-weight: 700;
    color: #0f172aFF;
    margin-block: 0px;
    margin-top: 20px;
}

.car-spec {
    display: flex;
    column-gap: 10px;
    color: var(--p-color);
}

.spec {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.car-review {
    display: flex;
    align-items: center;
    column-gap: 5px;

    p {
        font-weight: 700;
        font-size: 0.9rem;
        color: var(--p-color);
    }

    svg {
        color: gold;
    }
}

.car-pricing {
    padding-inline: 20px;
    display: flex;
    align-items: center;
}

.car-pricing h4 {
    margin-right: auto;
    font-weight: 800;
    font-size: 24px;
    color: var(--theme-color);

    span {
        color: var(--p-color);
        font-weight: 300;
        font-size: 14px;
    }
}

.car-pricing a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: var(--theme-color);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.car-pricing a:hover {
    transform: translate(1px, 1px);
    transition: transform 0.1s ease-in-out;
}
