header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--cards-bg);
    box-shadow: 0px 10px 10px var(--cards-bg);
}

header a:hover {
    text-decoration: underline;
}

.header-logo-project-name-container {
    display: flex;
    margin-right: auto;

    a {
        color: var(--theme-color);
    }
}

.project-name {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 27px;
}

nav {
    display: flex;

    a {
        padding: 5px 25px;
        font-weight: 600;
    }
}
